{{define "title"}}About{{end}}

{{define "main"}}
<h2>About</h2>
<p>
  <b>Snip-Snap is just a demo web app created for learning purpose. Absolutely don't put any sensitive data here!</b>
</p>
<br>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, possimus? Perspiciatis deserunt odio similique.
  Recusandae incidunt corrupti quis, qui provident nisi ipsam magnam, velit quidem vitae veritatis dolores, eligendi
  sapiente sunt iste quia fugiat maiores aspernatur reiciendis ut repellat. Adipisci ut suscipit ex voluptate fuga
  soluta inventore exercitationem ad aperiam.
</p>
{{end}}