{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <title>{{template "title" .}} | Snip-Snap</title>
</head>

<body>
  <header>
    <h1><a href='/'>Snip-Snap</a></h1>
    {{template "nav" .}}
  </header>

  <main>
    {{with .Flash}}
    <div class='flash'>{{.}}</div>
    {{end}}

    {{template "main" .}}
  </main>

  <footer>
    Generated in {{.CurrentYear}}
  </footer>

  <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}